html{
    background-color:black;
}

.main_container{
    display: flex;
    flex-direction: row;

}

.header_container{
    display: flex;
    color: chartreuse;
    width: 200px;
}

h1{
    font-size: 40px;
}

#text_container{
    color: coral;
    margin-top: 150px;
    margin-left: 30px;
}

.my_bio{
    padding-left: 60px;
    color: honeydew;
    font-size: 15px;
}

#my_text2{
    color: aquamarine;
}
    
#my_text1{
    font-size: 20px;
    
}


img{
    height: 100%;
    border-radius: 5px;
    width: 100%;
    
    
}

#image_container{
    margin-left: 20px;
    width: 100%;
    
}

#my_link{
    color:darkgoldenrod; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
